* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #363932;
  color: #EBECE9;
}


.header {
  display: flex;
  justify-content: center;
  letter-spacing: 4px;
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid #010b09;
}

.footer {
  padding: 2%;
  margin: 1%;
  font-style: italic;
}

.hlink {
  text-decoration: none;
  color: #EBECE9;
}

.link {
  text-decoration: none;
  color: #EBECE9;
}

.link:hover {
  transform: scale(104%);
}

.nav {
  display: flex;
}

li {
  list-style-type: none;
  padding: 12px;
  border: 1px solid #EBECE9;
  margin: 12px;
}

caption {
  padding: 2%;
  letter-spacing: 2px;
}

.table-body {
  border: 1px solid #EBECE9;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 90%;
  overflow: auto;
}

table {
  border: 1px solid #EBECE9;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

th {
  overflow: hidden;
}

/* people table spacing */
thead th:nth-child(1) {
  width: 20%;
}
thead th:nth-child(2) {
  width: 15%;
}
thead th:nth-child(3) {
  width: 15%;
}
thead th:nth-child(4) {
  width: 25%;
}
thead th:nth-child(5) {
  width: 25%;
}

/* planets table spacing */
thead .planet-col:nth-child(1) {
  width: 15%;
}
thead .planet-col:nth-child(2) {
  width: 25%;
}
thead .planet-col:nth-child(3) {
  width: 20%;
}
thead .planet-col:nth-child(4) {
  width: 20%;
}
thead .planet-col:nth-child(5) {
  width: 20%;
}

/* starships table spacing */
thead .starship-col:nth-child(1) {
  width: 15%;
}
thead .starship-col:nth-child(2) {
  width: 15%;
}
thead .starship-col:nth-child(3) {
  width: 15%;
}
thead .starship-col:nth-child(4) {
  width: 15%;
}
thead .starship-col:nth-child(5) {
  width: 20%;
}
thead .starship-col:nth-child(6) {
  width: 20%;
}

th, td {
  border: 1px solid #EBECE9;
  padding: 10px;
  font-size: 12px;
}

th {
  text-align: left;
  letter-spacing: 2px;
  text-transform: uppercase;
}