* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #353831;
  color: #EBECE9
}

.link {
  text-decoration: none;
  color: #EBECE9;
}

.main {
  border: 1px solid #EBECE9;
  height: 80vh;
  display: flex;
  flex-direction: column;
}