* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100vh; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 1px solid papayawhip;
  background-color: #363932;
  color: #EBECE9;
}

.layout {
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  letter-spacing: 4px;
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid #010b09;
}

.footer {
  display: flex;
  
}
.link {
  text-decoration: none;
  color: #EBECE9;
}

.nav {
  display: flex;
}

li {
  list-style-type: none;
  padding: 12px;
  border: 1px solid #EBECE9;
  margin: 12px;
}

.main {
  /* border: 1px solid #EBECE9; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

td {
  border: 1px solid #EBECE9;
  padding: 5px;
  font-size: 12px;
}
